<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <p>{{ company.name }}</p>
</header>
<main>
    <h1>{{ company.name }}</h1>
    <h3>{{ company.slogan }}</h3>
    <h3>Только в {{ company.city }}.</h3>
</main>
<section>
    <p>{{ company.name }}</p>
    <p>Ждем вас с {{ company.start_work_time }} до {{ company.end_work_time }} ежеднево</p>
    <p>в {{ company.addres }}</p>
    <p>{{ company.email }}</p>
    <p>{{ company.links }}</p>
</section>
{% for i in services %}
<p>{{ i.name }}</p>
{% endfor %}
<section>
    <h2>Отзывы</h2>
    <div>
        <p>Вот что о нас говорят</p>
    </div>
</section>
</body>
</html>